*.iml
.gradle
/local.properties
/.idea
/projectFilesBackup
.DS_Store
build
/captures
*.apk
keystore.properties
*.jks
output.json
/app/.cxx
app/src/main/libs/*/*.so
*.o
*o.d
/app/src/main/jni/obj
/app/src/main/jni/libs/*/*.so
